
.test{
		padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    	margin-bottom: 50px;
    	color: #f8f8f8;
		background: url(./image/logo.png) no-repeat;
		background-size: contain;
}