@media screen and (max-width: 768px){
*{
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}
body{
    padding: 0px;
    margin: 0px;
    border: none;
}
    /*导航*/
    header
    {
        width:100%;
        height:60px;
        font-size: 15px;
        border:0px;
        margin:0px;
        padding:0px;
        background:#FF9600;
    }

    #logo
    {
      display: none;  
    }
    #backarrow{
        float: left;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 13px;
    }

    img#backarrow:hover{
        cursor: pointer;
    }

    #selfcenter
    {
        border:none;
        background: #FF9600;
        font-size: 14px;
        line-height: 56px;
        margin-right: 10px;
        float: right;
    }
    /*end导航*/

.subdiv{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: #ddd;
}
.btnsubdiv{
    background-color: #fff;
    padding: 0px;
    /*padding-left: 0px;*/
}
label{
    display: inline-block;
}
 input.labelauty + label{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.infohead{
    color:#ff9600;
    font-size: 14px;
}
.infodivhr{/*黄色横条*/
        border:0;
        background-color:#ff9600;
        height:1px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: -10px;
        margin-right: -10px;
}
.tipasterisk{
    color:#ff9600;
    font-size:14px;
}
.InfoNameP{
    font-size: 12px;
    color: #bbb;
    margin-bottom: 5px;
    margin-top: 5px;
}

    .input-type-1{
        width: 100%;
        height: 30px;
        border: none;
        padding-left: 5px;
        outline-color: #ff9600;
    }
    .input-type-2{
        width: 47%;
        height: 30px;
        border: none;
        padding-left: 5px;
        outline-color: #ff9600;
        margin-bottom: 10px;
        margin-right: 5px;
        background-color: #fff;
    }
    .input-type-3{
        width: 47%;
        height: 30px;
        border: none;
        padding-left: 5px;
        outline-color: #ff9600;
        margin-bottom: 10px;
        margin-right: 5px;
        background-color: #fff;
    }

    .a-upload {
        width:120px;
        font-size: 60px;
        height: 90px;
        margin: auto;
        line-height:90px;
        text-align: center;
        position: relative;
        cursor: pointer;
        background: #fff;
        color: #EFEFEF;
        border: 1px solid #ddd;
        overflow: hidden;
        display: inline-block;
        *display: inline;
        *zoom: 1
    }

    .a-upload  input {
        width: 120px;
        height: 90px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }

    .a-upload:hover {
        color: #ff9600;
        background: #eee;
        border-color: #ccc;
        text-decoration: none;
    }
    #pic1
    {
        width: 120px;
        height:90px;
        margin-left: 10px;
    }
    #progress{
        visibility: hidden;
        display: inline-block;
        width:120px;
        height:20px;
        border:none;
        margin-left: -120px;
    }
    #bar {
        visibility: hidden;
        width: 120px;
        height:20px;
        background:#FF9600;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
    }
    #contents{
        width: 100%;
        outline-color: #ff9600;
        border: none;
    }

    .minrenttimediv{
        position:relative;
        height:30px;
        width:120px;
        display:inline-block;
        background-color:#fff;
    }
    .mintenttimeinput{
        position:relative;
        height:30px;
        width:120px;
        display:inline-block;
        background-color:#fff;
    }
    .RentTimeInput{
        padding-left:70px;
        height:30px;
        width:50px;
        font-size:12px;
        color:#484848;
        background-color: #fff;
        border: none;
        outline-color: #ff9600;
    }
    .maxrenttimediv{
        display: inline-block;
        width: 90px;
        height: 30px;
        margin-left: 10px;
        vertical-align: top;
        position: relative;
        /*border: 1px solid blue;*/
    }
    #oneweek{
        width:50px;
        height: 30px;
        padding-left:70px;
        font-size:12px;
        color:#484848;
        outline-color: #ff9600;
        background-color: #fff;
        border: none;
    }
#schoollist{
    float: right;
    margin: 0px;
}

/*价格设置输入框提示语*/
.priceunit{
    font-weight: 400;
    font-size: 12px;
    color: #484848;
}
.pricetip{
    color: #bbb;
    display: block;
}
.daypricediv{
        margin-top: 10px;
        margin-bottom: 10px;
}

    #tosubmitbtn{
        width:100%;
        height:40px;
        border:none;
        background-color:#ff9600;
        /*margin-left: -20px;*/
    }
    footer
    {
        width: 100%;
        height: 100px;
    }

.minrenttimediv{
    position: relative;
}
.maxrenttimediv{
    position: relative;
}
#allmap 
{
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin:0;
    margin-top: 10px;
}

    /*small footer*/
    #footerhr{
     display: none;
    }
    #footer
    {
      text-align: center;
      padding-top: 50px;
      margin-bottom: 30px;
      /*border: 1px solid green;*/
    }
    #footer-1{
      width: 100%;
        margin-left: auto;
        margin-right: auto;
        position:relative;/*让子div相对于父div绝对定位*/
        /*height:75px;*/
        padding-top: 20px;
        padding-bottom: 20px;
        /*border:1px solid yellow;*/
    }
    .footermanual{
      width:50px;
      display: inline-block;
      /*border: 1px solid blue;*/
    }
    #ownermanualdiv{
      margin-right: 40px;
    }
    #rentermanualdiv{
/*      position: relative;
      float: right;
*/      /*left: 50%;      */
      /*margin-left: 5px;*/
    }
    .footermanualimg{
      width:50px;
      height:50px;
      margin-bottom: 10px;
    }
    .footermanuallink{
      height:10px;
      font-size:12px;
      color: #484848;
      text-decoration: none;
      /*margin-top: 20px;*/
    }
    a.footermanuallink:hover{
      color: #ff9600;
    }

    #footer-2{
        width:100%;
        position: relative;/**/
        /*margin-top: 50px;*/
        padding-top: 20px;
        padding-bottom: 20px;
        /*height:70px;*/
        /*border: 1px solid blue;*/
    }
    .footer2fiv{
      width:60px;
      height:70px;
      display:inline-block;
    }
    .footer2fivfirst{
      margin-right: 50px;
    }
    .footer2fivthird{
      margin-left: 10px;
    }
    .footer2fivfourth{
      margin-left: 10px;
    }
    .footer2headlabel{
      display:inline-block;
      color:#484848;
      font-size:14px;
      font-weight:600;
      margin-top:0;
    }
    .footer2contentlink{
      display:inline-block;
      color:#484848;
      font-size:12px;
      margin-bottom: 5px;
      text-decoration: none;
    }
    .footer2fiv>a.footer2contentlink:hover{
      color: #ff9600;
    }

    #footer-3{
      /*height: 70px;*/
      width: 100%;
      display: inline-block;
      padding-top: 20px;
      padding-bottom: 20px;
      /*border: 1px solid blue;*/
    }
    .footer3contactdivfirst{
      float: left;
      width: 25%;
      margin-left: 25%;
      /*padding-right: 10px;*/
      display:inline-block;
    }
    .footer3contactdiv{
      float: left;
      width: 25%;
      display:inline-block;
      padding-left: 28px;
      /*margin-left: 20px;*/
      /*border: 1px solid blue;*/
    }
    .footer3contactphone{
      /*margin-left: -10px;*/
      padding-right: 19px;
      color:#484848;
      font-size:14px;
      font-weight:600;
    }
    .footer3contactemail{
      /*margin-left: -35px;*/
      padding-right: 9px;
      color:#484848;
      font-size:14px;
      font-weight:600;

    }
    .footer3contactcontent{
      color:#484848;
      font-size:12px;
    }

    #footer-4{
      /*border: 1px solid blue;*/
      /*margin-top: 25px;*/
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
    }
    #ScanImg{
      display: none;
    }
    /*end small footer*/

}
@media screen and (min-width: 768px){
*{
        font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
        font-weight: 400;
    }
body{
    padding: 0px;
    margin: 0px;
    border: none;
}

/*big change bike*/
header
{
    width:100%;
    height:60px;
    font-size: 15px;
    border:0px;
    margin:0px;
    padding:0px;
    background:#FF9600;
}
#logo
{
    /*align:center;*/
    float: left;
    margin-left: 100px;
    margin-top: 15px;
}
#backarrow{
    display: none;
}
img#logo:hover{
    cursor: pointer;
}
#selfcenter
{
    border:0px;
    background: #FF9600;
    font-size: 14px;
    float: right;
    line-height: 56px;
    margin-right: 100px;
    color: #000;
}
/*end big change bike*/

/*big 全局样式*/
 label{
        display: inline-block;
    }
    input.labelauty + label{
        margin-left: 5px;
        margin-right: 5px;
    }
    /*input输入类型1*/
    .input-type-1{
        width: 320px;
        height: 30px;
        display: inline-block;
        outline-color: #ff9600;
        /*width: 100%;*/
        padding: 0px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: none;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    }
    /*input输入类型2*/
    .input-type-2{
        width: 90px;
        height: 30px;
        display: inline-block;
        outline-color: #ff9600;
        /*width: 100%;*/
        padding: 0px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #000;
        background-color: #fff;
        background-image: none;
        border: none;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    }
    .input-type-3{ width: 180px;
        height: 30px;
        display: inline-block;
        outline-color: #ff9600;
        /*width: 100%;*/
        padding: 0px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #000;
        background-color: #fff;
        background-image: none;
        border: none;
        border-radius: 2px;
        }
    .tipasterisk{
        color:#ff9600;
        font-size:14px;
    }
    .InfoNameP{
        font-size: 12px;
        color: #bbb;
        margin-bottom: 5px;
        margin-top: 5px;
    }
/*end big 全局样式*/



    .subdiv{
        width: 1080px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #ddd;
        padding-bottom: 20px;
    }
    .btnsubdiv{
        background-color: #fff;
        padding-top: 0px;
        /*padding-left: 0px;*/
    }
    /*总体信息开头*/
     .infohead{
        color: #ff9600;
        /*margin-top: 20px;*/
        /*line-height: 20px;*/
    }
    .infoheadimg{
        vertical-align: center;
    }
     .infodivhr{/*黄色横条*/
        border:0;
        background-color:#ff9600;
        height:1px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: -10px;
        margin-right: -10px;
    }
    #contents{
        outline-color: #ff9600;
        border: none;
    }
    #citylist{
        margin-bottom: 5px;
    }
    hr{
        color: #ff9600;
    }

/*价格设置输入框提示语*/
.priceunit{
    font-weight: 400;
    font-size: 12px;
    color: #484848;
}
.pricetip{
    color: #bbb;
}
.daypricediv{
        margin-top: 10px;
        margin-bottom: 10px;
}

.minrenttimediv{
    position:relative;
    height:30px;
    width:120px;
    display:inline-block;
    background-color:#fff;
}
.mintenttimeinput{
    position:relative;
    height:30px;
    width:120px;
    display:inline-block;
    background-color:#fff;
}
.RentTimeInput{
    padding-left:70px;
    height:30px;
    width:50px;
    font-size:12px;
    color:#484848;
    background-color: #fff;
    border: none;
    outline-color: #ff9600;
}
.maxrenttimediv{
    display: inline-block;
    width: 90px;
    height: 30px;
    margin-left: 10px;
    vertical-align: top;
    position: relative;
    /*border: 1px solid blue;*/
}
#oneweek{
    width:50px;
    height: 30px;
    padding-left:70px;
    font-size:12px;
    color:#484848;
    outline-color: #ff9600;
    background-color: #fff;
    border: none;
}



#file
{
    width: 200px;
}
#allmap 
{
    margin:0;
    margin-top: 10px;
    width: 700px;
    height: 250px;
    overflow: hidden;
    font-family:"微软雅黑";
}

#tosubmitbtn{
    position: relative;
    width:200px;
    height:40px;
    border:none;
    margin-left: -20px;
    border:none;
    background-color:#ff9600;
}

footer
{
    width: 100%;
    height: 200px;
}

.a-upload {
    width:120px;
    font-size: 60px;
    height: 90px;
    line-height:90px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fff;
    color: #ddd;
    border: 1px solid #ddd;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
}

.a-upload  input {
    width: 120px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #ff9600;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
}

#pic1
{
    width: 120px;
    height:90px;
    margin-left: 10px;
}

#progress{
    display: inline-block;
    margin-left: -120px;
    visibility: hidden;
    width:120px;
    height:20px;
    border:none;
}
#bar {
    visibility: hidden;
    width: 120px;
    height:20px;
    background:#FF9600;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
}
a:link{
    text-decoration:none;
} 

/*big footer*/
#footerhr{
   border-top:1px solid #eee;
   width:1080px;
   margin:40px auto 0 auto;
}

#footer
{
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 60px;
}
#footer-1{
    /*width:33.2%;*/
    position:relative;/*让子div相对于父div绝对定位*/
    height:70px;
    /*width:340px;*/
    float:left;
}
.footermanual{
  width:50px;
  /*height:60px;*/
  display: inline-block;
  margin-right: 40px;
  /*border: 1px solid blue;*/
}
#ownermanualdiv{
  position: relative;
  float: right;
  margin-right: 60px;
  /*left: 50%;*/
  /*margin-left: -55px;*/
}
#rentermanualdiv{
  position: relative;
  float: right;
  /*left: 50%;      */
  /*margin-left: 5px;*/
}
.footermanualimg{
  width:50px;
  height:50px;
  margin-bottom: 10px;
}
.footermanuallink{
  height:10px;
  font-size:12px;
  color: #484848;
  text-decoration: none;
  /*margin-top: 20px;*/
}
a.footermanuallink:hover{
  color: #ff9600;
}

#footer-2{
    width:190px;
    position: relative;/**/
    float:left;
    height:70px;
    /*border: 1px solid blue;*/
}
.footer2fiv{
  width:60px;
  height:70px;
  display:inline-block;
}
.footer2fivfirst{
  margin-right: 30px;
}
.footer2fivthird{
  margin-left: 10px;
}
.footer2fivfourth{
  margin-left: 10px;
}
.footer2headlabel{
  display:inline-block;
  color:#484848;
  font-size:14px;
  font-weight:600;
  margin-top:0;
}
.footer2contentlink{
  display:inline-block;
  color:#484848;
  font-size:12px;
  margin-bottom: 5px;
  text-decoration: none;
}
.footer2fiv>a.footer2contentlink:hover{
  color: #ff9600;
}

#footer-3{
  height: 70px;
  display: inline-block;
  float:left;
  padding-left: 20px;
}
.footer3contactdiv{
  display:inline-block;
}
.footer3contactdivfirst{
  display:inline-block;
  margin-right: 30px;
  margin-left: 10px;
}
.footer3contactphone{
  margin-left: -30px;
  color:#484848;
  font-size:14px;
  font-weight:600;
}
.footer3contactemail{
  margin-left: -60px;
  color:#484848;
  font-size:14px;
  font-weight:600;

}
.footer3contactcontent{
  color:#484848;
  font-size:12px;
}

#footer-4{
  position: relative;
  display: inline-block;
  /*width: 340px;*/
  height: 70px;
  float: left;
}
#ScanImg{
  margin-left: 60px;
  float:left;
}
#ScanImgSmall{
  display: none;
}
/*end big footer*/

}
