@media screen and (max-width: 768px){
  *{
      font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
      margin: 0px;
      padding: 0px;
  }
  header{
    height: 60px;
    width: 100%;
    background-color: #ff9600;
  }
  #logo{
    display: none;
  }
  #logosmall{
    margin-left: 10px;
    margin-top: 15px;
  }

  #bgimg{
    width: 100%;
    height:620px;
    background-image: url("../image/banner.jpg");
    background-size: 100% 100%;
  }

  #fdpwbgdiv{
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
  }

  #fdpwdiv{
    z-index: 10;
    width: 360px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -180px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #findblock{
    list-style: none;
    /*margin-top: 20px;*/
    width: 100%;
    padding-left: 0px;
    /*z-index: 9;*/
    
    /*border: 1px solid #ff9600;*/
    /*background-color: #efefef;*/
  }

  #fdpwhead{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;

    height: 60px;
    text-align: center;/*这俩属性保证字体居中*/
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background-color: #ff9600;
  }
  .previousdiv{
    display: inline-block;
    width: 80px;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;

    line-height: 35px;
    font-size: 14px;
    font-weight: 400;
  }
  .latterdiv{
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
  }
  #findblock>.liitem{
    margin-top: 10px;
  }
  .findpass{
    height: 60px;
    width: 100%;
    background-color: #ff9600;
    font-size: 22px;
    padding-left: 125px;
    padding-top: 15px;
  }
  .xslength{
    height: 40px;
    width: 80px;
    border: none;
    outline-color: #ff9600;
    /*outline-width: 1px;*/
    padding-left: 10px;
  }
  #findvcode2{
    padding-left: 0px;
  }
  .slength{
    width: 160px;
    height: 40px;
    border: none;
    outline-color: #ff9600;
    padding-left: 10px;
  }
  .mlength{
    width: 100%;
    height: 40px;
    border: none;
    outline-color: #ff9600;
    padding-left: 10px;
  }
  .llength{
    width: 100%;
    height: 40px;
    border: none;
    outline-color: #ff9600;
  }

  #phonelabel,#vcodelael,#pwlabel,#pwlabelagain,#phonecodelabel{
    float: right;
    /*margin-left: 35px;*/
  }
  #pwlabelagain{
    /*margin-left: 22px;*/
  }
  #sendsms{
    border: none;
    background-color: #ff9600;
    padding-left: 0px;
    color: #fff;
  }
  #submitfind{
    margin-top: 10px;
  }
  #submitfind{
    border: none;
    background-color: #ff9600;
  }

  #div1,#div2{
    display: none;
  }
}
@media screen and (min-width: 768px){
  *{
      font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
      margin: 0px;
      padding: 0px;
  }

  header{
    height: 60px;
    width: 100%;
    background-color: #ff9600;
  }
  #logo{
    margin-left: 100px;
    margin-top: 15px;
  }
  #logosmall{
    display: none;
  }
  img#logo:hover{
    cursor: pointer;
  }
  #regist{
    margin-top: 15px;
    float: right;
    margin-right: 40px;
    border: none;
    background-color: #ff9600;
    font-size: 20px;
    font-family: "微软雅黑";

  }

  #bgimg{
    width: 100%;
    height:620px;
    background-image: url("../image/banner.jpg");
    background-size: 100% 100%;
  }

  #fdpwbgdiv{
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
  }

  #fdpwdiv{
    z-index: 10;
    width: 360px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -180px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #findblock{
    list-style: none;
    /*margin-top: 20px;*/
    width: 100%;
    padding-left: 0px;
    /*z-index: 9;*/
    
    /*border: 1px solid #ff9600;*/
    /*background-color: #efefef;*/
  }

  #fdpwhead{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;

    height: 60px;
    text-align: center;/*这俩属性保证字体居中*/
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background-color: #ff9600;
  }
  .previousdiv{
    display: inline-block;
    width: 80px;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;

    line-height: 35px;
    font-size: 14px;
    font-weight: 400;
  }
  .latterdiv{
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
  }
  #findblock>.liitem{
    margin-top: 10px;
  }
  .findpass{
    height: 60px;
    width: 100%;
    background-color: #ff9600;
    font-size: 22px;
    padding-left: 125px;
    padding-top: 15px;
  }
  .xslength{
    height: 40px;
    width: 80px;
    border: none;
    outline-color: #ff9600;
    /*outline-width: 1px;*/
    padding-left: 10px;
  }
  #findvcode2{
    padding-left: 0px;
  }
  .slength{
    width: 160px;
    height: 40px;
    border: none;
    outline-color: #ff9600;
    padding-left: 10px;
  }
  .mlength{
    width: 100%;
    height: 40px;
    border: none;
    outline-color: #ff9600;
    padding-left: 10px;
  }
  .llength{
    width: 100%;
    height: 40px;
    border: none;
    outline-color: #ff9600;
  }

  #phonelabel,#vcodelael,#pwlabel,#pwlabelagain,#phonecodelabel{
    float: right;
    /*margin-left: 35px;*/
  }
  #pwlabelagain{
    /*margin-left: 22px;*/
  }
  #sendsms{
    border: none;
    background-color: #ff9600;
    padding-left: 0px;
    color: #fff;
  }
  #submitfind{
    margin-top: 10px;
  }
  #submitfind{
    border: none;
    background-color: #ff9600;
  }

  #div1,#div2{
    display: none;
  }
}