@media screen and (max-width: 768px){
  *{
      margin: 0px;
      padding: 0px;
  }

  header
    {
      font-family:"Microsoft YaHei",微软雅黑;
        width:100%;
        height:50px;
        font-size: 14px;
        border:0px;
        margin:0px;
        padding:0px;
        background:#FF9600;
        float: top;
    }

    #logo
    {
      display: none;
    }
    #logosmall{
      margin-left: 10px;
      margin-top: 8px;      
    }

    #submit
    { 
      border: 1px solid #000;
        font-size: 14px;
        /*line-height: 35px;*/
        background: #FF9600;
        float: right;
        margin-top: 14px;
        margin-right: 10px;
        margin-left: 13px;
    }

    #login
    {
        border:0px;
        background: #FF9600;
        /*line-height: 35px;*/
        font-size: 14px;
        float: right;

        margin-top: 12px;
        /*margin-right:20px;*/
    }

    #regist
    {
        border:0px;
        background: #FF9600;
        /*line-height: 35px;*/
        font-size: 14px;
        margin-top: 12px;
        float: right;
        margin-left: 7px;
        /*margin-right: 5px;*/
    }
    #selfcenter
    {
        border:0px;
        background: #FF9600;
        line-height: 35px;
        margin-top: 7px;
        font-size: 12px;
        float: right;
    }
    #logout
    {
        border:0px;
        color: #000;
        background: #FF9600;
        /*line-height: 35px;*/
         line-height: 50px;
        font-size: 14px;
        float: right;
        /*margin-top: 7px;*/
        margin-right:10px;
    }
    /**/

    /*small 评价*/
    /*small 我是车主 订单评价背景*/
    #ownercommentsbackdiv{
      display:none;
      width:100%;
      height:100%;
      position:fixed;
      background-color:#000;
      z-Index:9;
      opacity:0.8;
    }
    /*end small 我是车主 订单评价背景*/

    /*small 我是车主 订单评价*/
    #ownercomments{
       display:none;
       position:fixed;
       width:320px;
       left:50%;
       top:100px;
       margin-left:-160px;
       padding-bottom:20px;
       background-color:#fff;
       opacity:0.95;
       z-Index:10;

    }

    /*.review_contents{
       padding:20px;
       padding-top:30px;
       padding-bottom:0px;
       overflow:hidden;
    }*/
    #ownercommentshead{
      margin-top:-20px;
      margin-bottom:10px;
      text-align:center;
      font-size:16px;
    }
    #ownercommentsheadspan{
      float:left;
      line-height:40px;
      font-size:14px;
      color:#bbb;
    }
    #closeownercommentsdivspan{
      float:right;
      line-height:20px;
      margin-top:-35px;
      margin-right:-10px;
      font-size:30px;
    }
    span#closeownercommentsdivspan:hover{
      cursor: pointer;
      color: #ff9600;
    }
    #ownercommenttextarea{
      width:100%;
      margin-top:10px;
      margin-bottom: 10px;
      padding-left:10px;
      padding-right:10px;
      padding-top:5px;
      padding-bottom:5px;
      font-size:14px;
      outline-color: #ff9600;
    }
    #ownerreviewcontents
    {
      padding:20px;
      padding-top:30px;
      padding-bottom:0px;
      overflow:hidden;
    }
    #cancelownercomments{
       float:right;
       width:135px;
       height:30px;
       border:none;
       background-color:#eee;
       font-size:14px;
       color:#000;
       outline-color:#ff9600;
    }
    #submitownercomments{
       float:left;
       width:135px;
       height:30px;
       border:none;
       background-color:#ff9600;
       font-size:14px;
       color:#000;
       margin-right:10px;
    }
    /*end small 我是车主 订单评价*/

    /*small 我是租客评价*/
    #rentercommentsbackdiv{
      display:none;
      width:100%;
      height:100%;
      position:fixed;
      background-color:#000;
      z-Index:9;
      opacity:0.8;
    }
    #rentercomments{
      display:none;
      position:fixed;
      width:380px;
      left:50%;
      top:100px;
      margin-left:-180px;
      padding-bottom:20px;
      z-Index:10;
      background-color:#fff;
      opacity:0.95;
    }
    #renterreviewcontents{
      padding:20px;
      padding-top:30px;
      padding-bottom:0px;
      overflow:hidden;
    }
    #rentercommentshead{
      margin-top:-20px;
      margin-bottom:10px;
      text-align:center;
      font-size:16px;
    }
    #rentercommentsheadspan{
       float:left;
       line-height:40px;
       font-size:14px;
       color:#bbb;
    }
    #closerentercommentsdivspan{
      float:right;
      line-height:20px;
      margin-top:-35px;
      margin-right:-10px;
      font-size:30px;
    }
    span#closerentercommentsdivspan:hover{
      cursor: pointer;
      color: #ff9600;
    }
    #rentercommenttextarea{
      margin-bottom: 10px;
      width:100%;
      margin-top:10px;
      padding-left:10px;
      padding-right:10px;
      padding-top:5px;
      padding-bottom:5px;
      font-size:14px;
    }
    #cancelrentercomments{
      float:right;
      width:60px;
      height:30px;
      border:none;
      background-color:#eee;
      font-size:14px;
      color:#000;
      outline-color:#ff9600;
    }
    #submitrentercomments{
      float:right;
      width:60px;
      height:30px;
      border:none;
      background-color:#ff9600;
      font-size:14px;
      color:#000;
      margin-right:10px;
    }
    /*end small 我是租客评价*/

    /*end small 评价*/

    #mainer
    {
      font-family:"Microsoft YaHei",微软雅黑;
      width: 100%;
      margin-top: 10px;
      padding-bottom: 100px;
      padding-left: 10px;
      padding-right: 10px;
    }

    /*tab 导航样式*/
    #headul{
      border: none;
      font-size: 16px;
      /*margin: 10px;*/

    }

    #headul>li.active>a:focus,#headul>li.active>a,#headul>li.active>a:visited{
     COLOR: #ff9600;  
     text-decoration: none;

    }
    #headul>li{
      border-bottom: 1px solid #eee;
    }
    #headul>li>a:hover{
      /*background-color: #;*/
      border-bottom: 1px solid #eee;
    }
    #headul>li.active{
      border-bottom: 2px solid #ff9600;
    }
    #headul>li.active>a,#headul>li.active>a:hover,#headul>li.active>a:focus,#headul>li.active>a:visited{
      border:none;
    }
    #headul>li.active>a{
    }
/*end 导航样式*/


    /*tab页*/
    .nav.nav-tabs{
      width: 100%;
    }
    /*每一项tab*/
    .nav.nav-tabs>li{
      width: 33.33%;
    }
    /*每一项tab里面的链接样式*/
    .nav.nav-tabs>li>a{
      font-size: 10px;
      font-family: "微软雅黑";
    }
    /*图片不显示*/
    #mybike{
      display: none;
    }

    /*基本信息、验证信息样式*/
    .infoheadlabel{
      color: #ff9600;
    }
    .infoinput{
      width: 180px;
      height: 30px;
      outline-color: #ff9600;
    }

.changebutton
{
  font-size: 20px;
  color: black;
}


A:link {
 color: #bbb;
 TEXT-DECORATION: none
}
A:visited {
 COLOR: #bbb;
 TEXT-DECORATION: none
}
A:hover {
 COLOR: #ff9600;
 text-decoration: none;
}
A:active {
 COLOR: #ff9600;  
 text-decoration: none;
}



.a-upload:hover {
    color: #ff9600;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
    /*border: 1px solid yellow;*/
}

#picupload
{
  height: 120px;
}
#progress
{
visibility: hidden;
padding: 0;
margin: 0;
width:120px;
height:20px;
border:1px solid black;
position: relative;
top: 0px;
}
#bar {
visibility: hidden;
border: 0;
padding: 0;
margin: 0;
width: 0%;
height:100%;
background:#FF9600;
}

/*small 身份证*/
#pic1
{
    width: 180px;
    height:180px;
    margin-left: 79px;
    vertical-align: top;
    margin-bottom: 10px;
    border: 1px solid #eee;
}
/*end small 身份证*/
#picupload_head
{
  /*height: 120px;*/
  /*border: 10px solid blue;*/
}
#progress_head
{
  visibility: hidden;
  width:180px;
  height:20px;
  border:none;
  position: relative;
  margin-top: -20px;
  margin-left: 79px;
}

#bar_head
{
  visibility: hidden;
  border: 0;
  padding: 0;
  margin: 0;
  width: 0%;
  height:100%;
  background:#FF9600;
}


/*end 上传框*/

#changeidentifyinfobtn{
  width:100%;
  height:40px;
  border: none;
  background-color: #ff9600;
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
  margin-bottom: 20px;
  color: #000;
}



/*///small 个人信息/////*/

    /*small 个人中心*/
    #home{
      padding-left: 10px;
      padding-right: 10px;
    }
    .home{
      border:1px solid #EEEEEE;
      padding-top : 5px;
      padding-left: 10px;
      padding-bottom: 20px;
      margin-top: 10px;
    }
  /*  .firsthome{
      margin-top: 20px;
    }*/
    .infoheadlabel{
      color: #ff9600;
      font-size: 14px;
      font-weight: 400;
    }
    .infonamediv{
      display: inline-block;
      width: 70px;
      margin-right: 5px;
    }
    .infoinname{
      display: inline-block;
      margin: 0px;
      margin-top: 5px;
      float: right;
      color: #bbb;
    }
    .infoinput{
      width: 180px;
      height: 30px;
      border: 1px solid  #eee;
      /*padding-left: 5px;*/
      padding-left: 10px;
      outline-color: #ff9600;
      /*color: #000;*/
      color: #484848;
      vertical-align: top;
    }

    .infophone{
      margin-top: 10px;
    }
    .infophonediv{
      display: inline-block;
      width: 70px;
      margin-right: 5px;
      /*margin-top: 10px;*/
    }
    #user_tell{
      background-color: #eee;
      color: #bbb;
    }
    #changephonea{
      display: none;
    }
    .changephonetip{
      color: #bbb;
      /*vertical-align: top;*/
      margin-top: 5px;
      margin-left: 80px;
      font-weight: 400;
    }

/*******************************************************/


.a-upload {
  /*display: inline-block;*/
  position: relative;
  width: 130px;
  cursor: pointer;
  /*color: #888;*/
  /*background: #ffffff;*/
  color: #EFEFEF;
  /*border-radius: 0px;*/
  /*overflow: hidden;*/
    *display: inline;
    *zoom: 1;
  /*text-align: center;*/
}

.uploadp{
  /*font-size: */
  /*border: 1px solid blue;*/
  margin: 0px;
  padding: 0px;
}
.a-upload  input {
    font-size: 10px;
    opacity: 0;
    cursor: pointer;
    margin: 0px;
    margin-top: -20px;
    padding: 0px;
}

.a-upload:hover {
    color: #ff9600;
    /*background: #eee;*/
    /*border-color: #ccc;*/
    text-decoration: none;
    /*border: 1px solid #ff9600;*/
}
/************************************************/


    .headpicdiv{
      position: relative;
      /*border: 1px solid green;*/
      margin-top: 10px;
    }

/*    .infoheadpicdiv{
      display: inline-block;
      width: 70px;
      position: relative;
    }*/
    .infoinheadpic{
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 0px;
      margin-left: 30px;
      color: #bbb;
    }
    #picupload_head{
      padding: 0px;
      margin: 0px;
    }


    #a_upload_head{
      display: block;
      margin-left: 140px;
    }
   
    #pic_head{
      width: 130px;
      margin-left: -10px;
      margin-top: -35px;
    }

    #uploadheadtip{
      vertical-align: center;
    }
    #uploadheadlabel{
      font-weight: 400;
    }

    #changebasicinfobtn{
      font-size: 14px;
      width:100%;
      height:40px;
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;
      background-color: #ff9600;
      color: #000;
    }

    /*验证信息*/
    .verifyeheadspan{
      margin-left: 5px;
      color: #bbb;
      font-size: 12px;
    }
    .verifydiv{
      width:80px;
      margin:0px;
      display: inline-block;
      padding-top:7px;
    }
    .verifyname{
       float: right;
       color:#bbb;
       font-size:12px;
       margin: 0px;
    }
    .verifyindentdiv{
      margin-top: 10px;
    }
    .verifyschooldiv{
      margin-top: 10px;

    }
    .verifyschoolnumdiv{
      margin-top: 10px;

    }
    .isstup{
      /*margin: */
      padding: 0px;
      line-height: 50px;
    }
    #whichcity{
      margin-top: -5px;
    }


    /*small 身份证上传div*/
    .iddiv{
      margin-top: 10px;
    }
    #picupload_id{
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
    #pic2
    {
        border: 1px solid #eee;
        width: 180px;
        height:180px;
      }

    .toupimgdiv{
      position: relative;
      display: inline-block;
      width: 80px;
      height: 180px;
    }
    .totopp{
      color:#bbb;
      font-size:12px;
      margin-top: 5px;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    /*身份证正面上传进度条*/
    #progress_id
    {
      visibility: hidden;
      width:180px;
      height:20px;
      border:none;
      position: relative;
      margin-top: -10px;
      background-color:#ff9600;
    }
    #bar_id
    {
      visibility: hidden;
      width: 0%;
      height:100%;
      background-color:#ff9600;
      text-align: center;
      color: #fff;
    }
    #upload_id_a{
      display: block;
      margin-top: 10px;
      margin-left: 60px;

    }
    /*end small 身份证上传div*/
    
    /*small 身份证背面上传div*/
    .idbackdiv{
      margin-top: 10px;
    }
    #picupload_idback{
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
    #pic4
    {
        border: 1px solid #eee;
        width: 180px;
        height:180px;
    }
    #progress_idback
    {
      visibility: hidden;
      padding: 0;
      margin: 0;
      width:120px;
      height:20px;
      border:none;
      position: relative;
      margin-top: -20px;
    }
    #bar_idback
    {
      visibility: hidden;
      width: 0%;
      height:100%;
      background:#FF9600;
      text-align: center;
      color: #fff;
    }
    #upload_idback_a{
      display: block;
      margin-top: 10px;
      margin-left: 60px;
    }
    /*end small 身份证背面上传div*/

    .schdiv{
      margin-top: 10px;
    }

    /*small 学生证上传*/
    #picupload_sch{
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
    #pic3
    {
        /*visibility: hidden;*/
        border: 1px solid #eee;
        width: 180px;
        height:180px;
    }
    #progress_sch
    {
    visibility: hidden;
    width:120px;
    height:20px;
    border:none;
    position: relative;
    margin-top: -20px;
    }
    #bar_sch
    {
    visibility: hidden;
    border: 0;
    padding: 0;
    margin: 0;
    width: 0%;
    height:100%;
    background:#FF9600;
    text-align: center;
    color: #fff;
    }
    #upload_sch_a{
      display: block;
      margin-top: 10px;
      margin-left: 60px;
    }
    /*end small 学生证上传*/

    /*end 验证信息*/



    #changeidentifyinfobtn{
      font-size: 14px;
      width:100%;
      height:40px;
      border: none;
      background-color: #ff9600;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #000;
    }


A:link {
 color: #aaaaaa;
 TEXT-DECORATION: none
}
A:visited {
 COLOR: #bbb;
 TEXT-DECORATION: none
}
A:hover {
 color: #ff9600;
 text-decoration: none;
}
A:focus{
 COLOR: #ff9600;  
 text-decoration: none;
}
A:active{
 COLOR: #ff9600;  
 text-decoration: none;
}

/*///end small 个人信息/////*/

/*li
{
  float:left;
  list-style-type: none;
}
*/



/*我的收益*/
#profit
{
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  overflow: hidden;
  background: #EEEEEE;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}
#myprofit
{
  font-size: 14px;
  line-height: 14px;
  color:#FF9600;
}

#valueul,#itemul{
  padding-left: 0px;
}
#valueul{
  margin-top: 24px;
}
.msg
{
  width:25%;
  float:left;
}
.msg1
{
    color: #FF9600;
    font-size: 18px;
}
.msg2
{
    color: #484848;
    font-size: 12px;
}
/*end 我的收益*/

/*small 订单管理子导航*/
#ordertab{
  width: 60%;
}
#ordertab>li{
  padding: 0px;
}
#ordertab>li>a{
  text-align: center;
  margin: 0px;
  padding: 10px 5px;
}

#ordertab>li.active>a{
  color: #ff9600;
}
#ordertab{
  border-bottom: none;
}

/*end small 订单管理子导航*/


#allordergetmore{
  display: none;
}

/*small 订单 基本样式*/
.ownerorders
{
  border: 1px solid #EEEEEE;
  /*margin-top: 10px;*/
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
}

.handleorder
{
  border: none;
  background-color: #FF9600;
  width: 49%;
  height: 40px;
  margin-top: 20px;
}
/*订单状态条*/
.order_condition
{
  width: 100%;
  /*height: 50px;*/
  font-size: 12px;
  line-height: 30px;
  /*margin-left: 10px;*/
  margin-bottom: 0;
  margin-top: 10px;
  white-space: nowrap;
}
/*订单状态*/
.orderstatus{
  font-size: 12px;
  color: #bbb;
  background-color: #eee;
  padding: 5px; 
}
/*订单图片*/
.orderimg
{
  width: 100%;
  margin-top: 10px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}
.orderdetails{
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
/*隐藏用来获取车辆id的span*/
.oidspan{
   visibility:hidden;
   position:absolute
}
/*end small 订单 基本样式*/






/*small 我是车主，等待我确认*/

.iamownertoagree{
  float: right;
}
/*end small 我是车主，等待我确认*/

/*small 我是车主，订单已完成*/
.imownercommentbtn{
  width: 100%;
}
.renterorderreview{
  border:1px solid #eee;
  padding-left: 10px;
  position: relative;
  margin-top: 8px;
  padding-top: 5px;
  padding-bottom: 8px;
}
.renterfinishcomm{
  margin: 0px;
  color: #bbb;
  font-size: 12px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
.starcomdiv{
  display: inline-block;
  margin-left: 60px;
}
.reviewcontents{
  color: #484848;
  font-size: 12px;
}
.ownerorderreview{
  /*border:1px solid #eee;*/
  position: relative;
  background-color:#eee;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
}
.ownerfinishcomm{
  margin: 0px;
  color: #bbb;
  font-size: 12px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
/*end  small 我是车主，订单已完成*/

/*small 我是租客*/
    .iamrenter{
      margin-right: 5px;
      margin-top: -5px;
    }
    .imrentercancel{
      width: 100%;
    }
    /*small 我是租客，订单等待确认*/
    .imrenterwaitconfirm{
      background-color: #ff9600;
      color: #fff;  
    }
    /*end small 我是租客，订单等待确认*/

    /*small 我是租客，订单已确认*/
    .imrenterconfirmed{
      background-color: #22ac38;
      color: #fff;
    }
    /*end small 我是租客，订单已确认*/

    /*small 我是租客，订单已完成*/
    .clear-rating.clear-rating-active{
      position: absolute;
    }
    .iamrentertoevaluate{
      width: 49%;
    }
    .iamrentertorentagain{
      float: right;
      width: 49%;
    }
    .reviews
    {
      border: 1px solid #EEEEEE;
      width: 100%;
      height: 80px;
      margin-bottom: 10px;
      outline-color: #ff9600;
    }
    /*end small 我是租客，订单已完成*/

/*end small 我是租客*/

/* small 我是车主*/

/*small 我是车主，订单等待确认*/
.imownertoconfirm{
  background-color: #ff9600;
  color: #fff;  
}
/*end small 我是车主，订单等待确认*/

/*small 我是车主，订单已确认*/
.imownerconfirmed{
  background-color: #22ac38;
  color: #fff;
}
/*end small 我是车主，订单已确认*/
/*end small 我是车主*/






.glyphicon,.input-group-addon
{
 visibility: hidden;
} 



/*small 我的单车*/
#messages{
  margin-top: 10px;
}

.bikeinfo
{
  /*margin-bottom: 30px;*/
  border: 1px solid #eeeeee;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.bikeinfohead{
  height: 30px;
  line-height: 30px;
  background-color: #eee;
  padding-left: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.bikeinfoname{
  /*font-size: */
}
.bikeinfobidandtime{
  display: block;
}
.bikeinfobid{
  float: right;
  color: #bbb;
  margin-right: 10px;
}

.bikeimg
{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*small 我的单车输出各项信息*/
.infotable{
  /*margin-top: 10px;*/
  width: 100%;
  font-size: 12px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.infotable>li{
  width: 100%;
  line-height: 20px;
}
.mybikeinfoname{
  color: #bbb;
}
/*end small 我的单车输出各项信息*/


/*small 设置不可租的时间*/
.timeselect
{
  width: 100%;
  margin-top: 10px;
}  
.setunusetime{
  display: inline-block;
  color: #bbb;
  font-size: 12px;
}
.timeinputdiv{
   position:relative
}
.timeinputdiv>input{
  display: inline-block;
  width: 180px;
  height: 30px;
  border: 1px solid #eee;
  padding-left: 60px;
  margin-bottom: 10px;
  font-size: 12px;
}
.timeinputtip{
   position:absolute;
   left:0;
   font-weight: 400;
   font-size: 12px;
   line-height: 30px;
   margin-left: 10px;
   color: #bbb;
   /*margin-left: 0px;*/
   margin-bottom: 0px;
}

.OK
{
  background-color:#FF9600;
  /*vertical-align: top;*/
  color: #000;
  margin-top: -40px;
  margin-left: 190px;
  border:none;
  width:60px;
  height:30px;
} 
/*end small 设置不可租的时间*/

/*small 修改单车按钮*/
.editbikediv{
  /*border: 1px solid blue;*/
  margin-top: 20px;
  overflow: hidden;
}
.change_button{
  color: #000;
  font-size: 14px;
}
.updateinfo
{
  border:none;
  color: #000;
  background: #FF9600;
  width: 49%;
  height: 45px;
  float: left;
}
.deletebtn{
  float: right;
}
/*end small 修改单车按钮*/
/*end small 我的单车*/


.ordercontainer
{
  border: 1px solid #EEEEEE;
}

.ordertabs
{
  height: 25px;
  background-color: #EEEEEE;
}
.order_img
{
  display: none;
}





.imownerwaittoconfirm{
  width: 100%;
  list-style: none;
  padding-left: 0px;
}
.imownerwaittoconfirm>li{
  width: 100%;
}


.orderid
{
 /*width: 100%;*/
 height: 30px;
 background-color: #EEEEEE;
 margin-left: -10px;
 margin-right: -10px;
 padding-left: 10px;
 padding-right: 10px;
 margin-bottom: 0px;
}

/*全部订单之预定时间*/
.ordertime
{
  float:left;
/*  margin-left: 10px;
*/  font-size: 12px;
  line-height: 30px;
  color: #484848;
}
.orderhead{
  color: #bbb;
}
/*订单之我是租客还是车主*/
.iamowner{
  margin-top: -5px;
}
.ownername
{
  float: right;
  /*margin-right: 10px;*/
  line-height: 30px;
  font-size: 12px;
  color: #bbb;
}
/*全部订单之订单状态*/

.maintitle{
  font-size: 14px;
  color: #484848;

}
.subtitlep{
  /*width: 100%;*/
  /*line-height: 20px;*/
  white-space: nowrap;
  font-size: 12px;
  color: #484848;
  margin: 0px;
  /*margin-left: 10px;*/
  margin-top: 10px;
}
.subtitlemoney{
  color: #ff9600;
}

.orderdetails
{
  width: 100%;
  font-size: 12px;
}
.orderdetails>li{
  line-height: 20px;

}
.bikeinfoitemname{
  color: #bbb;
}



/*********我是车主***等待车主确认************/
.waitforconfirm
{
  font-size: 12px;
  color: #fff;
  background-color: #ff9600;
  padding: 5px; 
}
.refuseorderbtndiv{
  width: 49%;
  display: inline-block;
}
.confirorderbtndiv{
  width: 49%;
  display: inline-block;
}
.refuseorderbtn{
  width: 100%;
}
.confirorderbtn{
  width: 100%;
  /*float: right;*/
}
/**********************************/
/*************我是车主*单车已还********************/
.bikehvberet{
  width: 100%;
}
/************end*我是车主*单车已还********************/
/**********************************/
.orderconfirmed
{
  font-size: 20px;
  color: #FF9600;
}
/*订单已取消*/
.orderfailed
{
  font-size: 15px;
  color: #DEDEDE;
}
.orderover
{
  font-size: 20px;
  color: green;
}


.money
{
  color: red;
}

/*订单详情表*/



.input-group-addon
{
  position: relative;
  left: -250px;
}

    /*small footer*/
    #footerhr{
      display: none;
    }
    #footer
    {
      text-align: center;
      padding-top: 50px;
      margin-bottom: 30px;
      /*border: 1px solid green;*/
    }
    #footer-1{
      width: 100%;
        margin-left: auto;
        margin-right: auto;
        position:relative;/*让子div相对于父div绝对定位*/
        /*height:75px;*/
        padding-top: 20px;
        padding-bottom: 20px;
        /*border:1px solid yellow;*/
    }
    .footermanual{
      width:50px;
      display: inline-block;
      /*border: 1px solid blue;*/
    }
    #ownermanualdiv{
      margin-right: 40px;
    }
    #rentermanualdiv{
/*      position: relative;
      float: right;
*/      /*left: 50%;      */
      /*margin-left: 5px;*/
    }
    .footermanualimg{
      width:50px;
      height:50px;
      margin-bottom: 10px;
    }
    .footermanuallink{
      height:10px;
      font-size:12px;
      color: #484848;
      text-decoration: none;
      /*margin-top: 20px;*/
    }
    a.footermanuallink:hover{
      color: #ff9600;
    }

    #footer-2{
        width:100%;
        position: relative;/**/
        /*margin-top: 50px;*/
        padding-top: 20px;
        padding-bottom: 20px;
        /*height:70px;*/
        /*border: 1px solid blue;*/
    }
    .footer2fiv{
      width:60px;
      height:70px;
      display:inline-block;
    }
    .footer2fivfirst{
      margin-right: 50px;
    }
    .footer2fivthird{
      margin-left: 10px;
    }
    .footer2fivfourth{
      margin-left: 10px;
    }
    .footer2headlabel{
      display:inline-block;
      color:#484848;
      font-size:14px;
      font-weight:600;
      margin-top:0;
    }
    .footer2contentlink{
      display:inline-block;
      color:#484848;
      font-size:12px;
      margin-bottom: 5px;
      text-decoration: none;
    }
    .footer2fiv>a.footer2contentlink:hover{
      color: #ff9600;
    }

    #footer-3{
      /*height: 70px;*/
      width: 100%;
      display: inline-block;
      padding-top: 20px;
      padding-bottom: 20px;
      /*border: 1px solid blue;*/
    }
    .footer3contactdivfirst{
      float: left;
      width: 25%;
      margin-left: 25%;
      /*padding-right: 10px;*/
      display:inline-block;
    }
    .footer3contactdiv{
      float: left;
      width: 25%;
      display:inline-block;
      padding-left: 28px;
      /*margin-left: 20px;*/
      /*border: 1px solid blue;*/
    }
    .footer3contactphone{
      /*margin-left: -10px;*/
      padding-right: 19px;
      color:#484848;
      font-size:14px;
      font-weight:600;
    }
    .footer3contactemail{
      /*margin-left: -35px;*/
      padding-right: 9px;
      color:#484848;
      font-size:14px;
      font-weight:600;

    }
    .footer3contactcontent{
      color:#484848;
      font-size:12px;
    }

    #footer-4{
      /*border: 1px solid blue;*/
      /*margin-top: 25px;*/
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
    }
    #ScanImg{
      display: none;
    }
    /*end small footer*/


}





@media screen and (min-width: 768px){
  *{
      margin: 0px;
      padding: 0px;
  }
 body
    {
      border: 0;
      margin: 0;
      padding: 0;
    }
     /*big navbar*/
   header
     {
      font-family:"Microsoft YaHei",微软雅黑;
         width:100%;
         height:60px;
         font-size: 15px;
         border:0px;
         margin:0px;
         padding:0px;
         background:#FF9600;
         float: top;
         z-index: 5;
     }

     #logo
     {
      margin-top:12px;
       margin-left: 100px;
     }
     #logosmall{
       display: none;
     }

     #login
     {
          border:0px;
         background: #FF9600;
         line-height: 50px;
         margin-top:5px;

         font-size: 14px;
         color: #000;

         float: right;
         margin-right: 20px;
         padding-right: 0px;
     }

     #regist
     {
       border:0px;
       background: #FF9600;
       line-height: 50px;
       margin-top:5px;

       font-family: "微软雅黑";
       font-size: 14px;
       color: #000;

       float: right;
       margin-right: 20px;
       padding-left: 0px;
       padding-right: 0px;
     }

     #submit
     {
       width: 90px;
       height: 30px;
       border: 1px solid #000;

       font-size: 14px;
       color: #000;

       /*line-height: 40px;*/
       background: #FF9600;
       float: right;
       margin-top:15px;
       margin-right: 100px;
     }

     #selfcenter
     {
         border:0px;
         background: #FF9600;
         /*line-height: 50px;*/
         margin-top:20px;
         font-size: 14px;
         color: #000;
         float: right;
         margin-right: 20px
     }
     #logout
     {
         border:0px;
         color: #000;
         background: #FF9600;
         line-height: 50px;
         font-size: 14px;
         float: right;
         margin-top:5px;
         margin-right:15px;
     }
     /*end big navbar*/

/*big 我是车主 订单评价背景*/
#ownercommentsbackdiv{
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  background-color:#000;
  z-Index:9;
  opacity:0.8;
}
/*end big 我是车主 订单评价背景*/

/*big 我是车主 订单评价*/
#ownercomments{
   display:none;
   position:fixed;
   width:380px;
   left:50%;
   top:200px;
   margin-left:-190px;
   padding-bottom:20px;
   z-Index:10;
   background-color:#fff;
   opacity:0.95;

}

.review_contents{
   padding:20px;
   padding-top:30px;
   padding-bottom:0px;
   overflow:hidden;
}
#ownercommentshead{
  margin-top:-20px;
  margin-bottom:10px;
  text-align:center;
  font-size:16px;
}
#ownercommentsheadspan{
  float:left;
  line-height:40px;
  font-size:14px;
  color:#bbb;
}
#closeownercommentsdivspan{
  float:right;
  line-height:20px;
  margin-top:-35px;
  margin-right:-10px;
  font-size:30px;
}
span#closeownercommentsdivspan:hover{
  cursor: pointer;
  color: #ff9600;
}
#ownercommenttextarea{
  width:100%;
  margin-top:10px;
  margin-bottom: 10px;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:14px;
  outline-color: #ff9600;
}
#ownerreviewcontents
{
  padding:20px;
  padding-top:30px;
  padding-bottom:0px;
  overflow:hidden;
}
#cancelownercomments{
   float:right;
   width:60px;
   height:30px;
   border:none;
   background-color:#eee;
   font-size:14px;
   color:#000;
   outline-color:#ff9600;
}
#submitownercomments{
   float:right;
   width:60px;
   height:30px;
   border:none;
   background-color:#ff9600;
   font-size:14px;
   color:#000;
   margin-right:10px;
}
/*end big 我是车主 订单评价*/

/*big 我是租客评价*/
#rentercommentsbackdiv{
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  background-color:#000;
  z-Index:9;
  opacity:0.8;
}
#rentercomments{
  display:none;
  position:fixed;
  width:380px;
  left:50%;
  top:200px;
  margin-left:-180px;
  padding-bottom:20px;
  z-Index:10;
  background-color:#fff;
  opacity:0.95;
}
#renterreviewcontents{
  padding:20px;
  padding-top:30px;
  padding-bottom:0px;
  overflow:hidden;
}
#rentercommentshead{
  margin-top:-20px;
  margin-bottom:10px;
  text-align:center;
  font-size:16px;
}
#rentercommentsheadspan{
   float:left;
   line-height:40px;
   font-size:14px;
   color:#bbb;
}
#closerentercommentsdivspan{
  float:right;
  line-height:20px;
  margin-top:-35px;
  margin-right:-10px;
  font-size:30px;
}
span#closerentercommentsdivspan:hover{
  cursor: pointer;
  color: #ff9600;
}
#rentercommenttextarea{
  margin-bottom: 10px;
  width:100%;
  margin-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:14px;
}
#cancelrentercomments{
  float:right;
  width:60px;
  height:30px;
  border:none;
  background-color:#eee;
  font-size:14px;
  color:#000;
  outline-color:#ff9600;
}
#submitrentercomments{
  float:right;
  width:60px;
  height:30px;
  border:none;
  background-color:#ff9600;
  font-size:14px;
  color:#000;
  margin-right:10px;
}
/*end big 我是租客评价*/

/*end big 评价*/

    /*大屏tab*/
    #mainer{
      background-color: #fff;
      margin-top: 20px;
      font-family:"Microsoft YaHei",微软雅黑;
    }
    #mainer a:active{
      color: #ff9600;
    }
    .nav.nav-tabs{
      width: 100%;
    }
    .nav.nav-tabs>li{
      width: 33.3333%;
    }


    #ordertab{
      width: 30%;
    }
    /*end 大屏tab*/

    /*big 个人中心*/
    .home{
      border:1px solid #EEEEEE;
      padding-top : 15px;
      padding-left: 20px;
      padding-bottom: 20px;

      /*padding-left: 60px;*/
    }
    .firsthome{
      margin-top: 20px;
    }
    .infoheadlabel{
      color: #ff9600;
      font-size: 14px;
      font-weight: 400;
    }
    .infonamediv{
      display: inline-block;
      width: 70px;
      margin-right: 5px;
    }
    .infoinname{
      display: inline-block;
      margin: 0px;
      margin-top: 5px;
      float: right;
      color: #bbb;
    }
    .infoinput{
      width: 180px;
      height: 30px;
      border: 1px solid  #eee;
      /*padding-left: 5px;*/
      padding-left: 10px;
      outline-color: #ff9600;
      /*color: #000;*/
      color: #484848;
      vertical-align: top;
    }

    .infophone{
      margin-top: 10px;
    }
    .infophonediv{
      display: inline-block;
      width: 70px;
      margin-right: 5px;
      /*margin-top: 10px;*/
    }
    #user_tell{
      background-color: #eee;
      color: #bbb;
    }
    #changephonea{
      display: none;
    }
    .changephonetip{
      color: #bbb;
      vertical-align: top;
      margin-top: 5px;
      font-weight: 400;
    }

/*******************************************************/


.a-upload {
  /*display: inline-block;*/
  position: relative;
  width: 130px;
  cursor: pointer;
  /*color: #888;*/
  /*background: #ffffff;*/
  color: #EFEFEF;
  /*border-radius: 0px;*/
  /*overflow: hidden;*/
    *display: inline;
    *zoom: 1;
  /*text-align: center;*/
}

.uploadp{
  /*font-size: */
  /*border: 1px solid blue;*/
  margin: 0px;
  padding: 0px;
}
.a-upload  input {
    font-size: 10px;
    opacity: 0;
    cursor: pointer;
    margin: 0px;
    margin-top: -20px;
    padding: 0px;
}

.a-upload:hover {
    color: #ff9600;
    /*background: #eee;*/
    /*border-color: #ccc;*/
    text-decoration: none;
    /*border: 1px solid #ff9600;*/
}
/************************************************/


    .headpicdiv{
      position: relative;
      /*border: 1px solid green;*/
      margin-top: 10px;
    }

/*    .infoheadpicdiv{
      display: inline-block;
      width: 70px;
      position: relative;
    }*/
    .infoinheadpic{
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 0px;
      margin-left: 30px;
      color: #bbb;
    }
    /*big 头像上传*/
    #picupload_head{
      padding: 0px;
      margin: 0px;
    }
    #pic1
    {
        border: 0;
        width: 180px;
        height:180px;
        margin-left: 79px;
        vertical-align: top;
        /*margin-bottom: 10px;*/
        border: 1px solid #eee;
    }

    #a_upload_head{
      display: block;
      margin-left: 140px;
      margin-top: 10px;
    }
   
   /*big 头像上传进度条*/
   #progress_head
   {
     visibility: hidden;
     height:20px;
     width: 180px;
     border:none;
     position: relative;
     margin-left: 79px;
     margin-top: -20px;
   }
   #bar_head
   {
     visibility: hidden;
     width: 0%;
     height:100%;
     background:#FF9600;
     text-align: center;
     color: #fff;
   }
   /*end big 头像上传进度条*/
    #pic_head{
      width: 130px;
      margin-left: -10px;
      margin-top: -35px;
    }
    
    #uploadheadtip{
      vertical-align: center;
    }
    #uploadheadlabel{
      font-weight: 400;
    }
    #changebasicinfobtn{
      width:200px;
      height:40px;
      border: none;
      background-color: #ff9600;
      font-size: 14px;
      /*margin-left: -40px;*/
      /*margin-bottom: 20px;*/
      color: #000;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    /*验证信息*/
    .verifyeheadspan{
      margin-left: 5px;
      color: #bbb;
      font-size: 12px;
    }
    .verifydiv{
      width:80px;
      margin:0px;
      display: inline-block;
      padding-top:7px;
    }
    .verifyname{
       float: right;
       color:#bbb;
       font-size:12px;
       margin: 0px;
    }
    .verifyindentdiv{
      margin-top: 10px;
    }
    .verifyschooldiv{
      margin-top: 10px;

    }
    .verifyschoolnumdiv{
      margin-top: 10px;

    }
    #isstudentdiv{
      /*margin-top: 5px;*/
    }
    .isstup{
      /*margin: */
      padding: 0px;
      line-height: 50px;
    }
    #whichcity{
      margin-top: -5px;
    }

    /*身份证上传div*/
    .iddiv{
      margin-top: 10px;
    }
    #picupload_id{
      display: inline-block;
      position: relative;
      vertical-align: top;
      /*text-align: center;*/
    }
    #pic2
    {
        border: 1px solid #eee;
        width: 180px;
        height:180px;
    }
    #progress_id
    {
      visibility: hidden;
      width:180px;
      height:20px;
      border:none;
      position: relative;
      margin-top: -20px;
    }
    #bar_id
    {
      visibility: hidden;
      width: 0%;
      height:100%;
      background:#FF9600;
      text-align: center;
      color: #fff;
    }
    .toupimgdiv{
      position: relative;
      display: inline-block;
      width: 80px;
      height: 180px;
    }
    .totopp{
      color:#bbb;
      font-size:12px;
      margin-top: 5px;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    #upload_id_a{
      display: block;
      margin-top: 10px;
      margin-left: 60px;
    }
    /*end 身份证上传div*/
    
    /*身份证背面上传div*/
    .idbackdiv{
      margin-top: 10px;
    }
    #picupload_idback{
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
    #pic4
    {
        border: 1px solid #eee;
        width: 180px;
        height:180px;
    }
    #progress_idback
    {
      visibility: hidden;
      width: 180px;
      height: 20px;
      position: relative;
      margin-top: -20px;
    }
    #bar_idback
    {
      visibility: hidden;
      width: 0%;
      height:100%;
      background-color:#FF9600;
      text-align: center;
      color: #fff;
    }
    #upload_idback_a{
      display: block;
      margin-top: 10px;
      margin-left: 60px;
    }
    /*end 身份证背面上传div*/

    .schdiv{
      margin-top: 10px;
    }

    /*学生证上传*/
    #picupload_sch{
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
    #pic3
    {
        /*visibility: hidden;*/
        border: 1px solid #eee;
        width: 180px;
        height:180px;
    }

    #progress_sch
    {
      visibility: hidden;
      width: 180px;
      height: 20px;
      position: relative;
      margin-top: -20px;
    }
    #bar_sch
    {
     visibility: hidden;
      width: 0%;
      height:100%;
      background-color:#FF9600;
      text-align: center;
      color: #fff;
    }
    #upload_sch_a{
      display: block;
      margin-top: 10px;
      margin-left: 60px;
    }

    /*end 学生证上传*/

    /*end 验证信息*/



    #changeidentifyinfobtn{
      font-size: 14px;
      width:200px;
      height:40px;
      border: none;
      background-color: #ff9600;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #000;
    }


A:link {
 color: #aaaaaa;
 TEXT-DECORATION: none
}
A:visited {
 COLOR: #bbb;
 TEXT-DECORATION: none
}
A:hover {
 color: #ff9600;
 text-decoration: none;
}
A:focus{
 COLOR: #ff9600;  
 text-decoration: none;
}
A:active{
 COLOR: #ff9600;  
 text-decoration: none;
}


#mainer
{
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#headul{
  border: none;

}

#headul>li.active>a:focus,#headul>li.active>a,#headul>li.active>a:visited{
 COLOR: #ff9600;  
 text-decoration: none;

}
#headul>li{
  border-bottom: 1px solid #eee;
}
#headul>li>a:hover{
  background-color: #eee;
  border-bottom: 1px solid #eee;
}
#headul>li.active{
  border-bottom: 2px solid #ff9600;
}
#headul>li.active>a,#headul>li.active>a:hover,#headul>li.active>a:focus,#headul>li.active>a:visited{
  border:none;
}
#headul>li.active>a{
}

#home{
  /*border-top:none;*/
  margin-top: 10px;
  /*padding-left: 20px;*/
}




.change_button
{
  font-size: 14px;
  color: black;
}
.change_button:link
{
  color: black;
}


/*订单管理*/
#profit{
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  /*height: 150px;*/
  background: #EEEEEE;
}

#myprofit
{
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  color:#FF9600;
}
#valueul{
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 130px;
}
#itemul{
  overflow: hidden;
  margin-top: 0px;
  padding-left: 130px;
}
.msg
{
  width:25%;
  float:left;
}
.msg1
{
    color: #FF9600;
    font-size: 24px;
}
.msg2
{
    color: black;
    font-size: 12px;
}

#myorder{
  margin-top: 20px;
}

/*订单导航*/
#ordertab{
  border-bottom: none;
}
#ordertab a{
  text-align: center;
}
#ordertab>li.active>a{
  color: #ff9600;
}
/*end 订单导航*/



/*end订单管理*/




/*big 我的单车*/
.bikeinfo
{
  position: relative;
  width:100%; 
  border:1px solid #EEEEEE;
  padding-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.bikeinfohead{
  width:100%;
  height:30px;
  line-height:30px;
  background-color:#EEEEEE; 
  font-size: 12px;
  color: #484848;

  padding-left: 10px;
  padding-right: 10px;
}

.bikeinfoname{
  float: left;
}
.bikeinfobid{
  float: right;
  color: #bbb;
}
.bikeimg
{
  width: 120px;
  height: 90px;
  margin-top: 10px;
  margin-left: 10px;

}


.infotable{
  display: inline-block;
  vertical-align: top;
  width: 200px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 20px;
}
.infotable>li{
  /*width: 33.33333%;*/
  /*display: inline-block;*/
  vertical-align: top;
}
.infotable>.mybikeinfoulbottom{
  width: 100%;
}

.mybikeinfoname{
  color: #bbb;
  /*margin: 10px;*/
}
.infotablelast{
  width: 600px;
  margin-left: 140px;
}
/*end 单车信息table*/

.changebutton
{
  color: black;
  font-size: 18px;
}

.glyphicon,.input-group-addon
{
 visibility: hidden;
} 
.timeselect
{
  margin-left: 140px;
  position: relative;
}
.setunusetime{
  display: inline-block;
  color: #bbb;
  font-size: 12px;
}
.timeinputdiv>input{
  display: inline-block;
  width: 180px;
  height: 30px;
  border: 1px solid #eee;
  padding-left: 60px;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  /*margin-left: 10px;*/
}
.timeinputdiv{
   display:inline-block;
   /*border:1px solid blue;*/
   position:relative
}
.timeinputtip{
   position:absolute;
   left:0;
   font-weight: 400;
   font-size: 12px;
   line-height: 30px;
   margin-left: 10px;
   color: #bbb;
}

.OK
{
  background-color:#FF9600;
  border:none;
  width:60px;
  height:30px;
}
.timeselect>.OK{
  width: 60px;
  height: 30px;
  color: #000;
  border:none;
}
.editbikediv{
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 10px;
  /*margin-left: 0px;*/
}
.updateinfo
{
  border:0;
  background: #FF9600;
  width: 90px;
  height: 45px;
  color: #000;
  margin-left: 10px;
}


.ordercontainer
{
  border: 1px solid #EEEEEE;
}



.ordertabs
{
  height: 25px;
  background-color: #EEEEEE;
}

#allordergetmore{
  display: none;
}

/********************************big 订单基本样式*/
.ownerorders
{
  margin-bottom: 20px;
  border: 1px solid #EEEEEE;
  position: relative;
  padding-bottom: 20px;
}

.orderid
{
 width: 100%;
 height: 30px;
 background-color: #EEEEEE;
 color: #484848;
}

.ordertime
{
  float:left;
  margin-left: 10px;
  font-size: 12px;
  line-height: 30px;
}

.ownername
{
  float: right;
  margin-right: 10px;
  line-height: 30px;
  font-size: 12px;
  color: #bbb;
}
.iamowner{
  margin-bottom: 5px;
}

.order_condition
{
  width: 100%;
  /*height: 50px;*/
  margin-bottom: 10px;
}
.maintitle{
  font-size: 14px;
  color: #484848;
  margin-left: 10px;
}
.maintitle:hover{
  color: #ff9600;
}
.subtitlep{
  font-size: 12px;
  color: #484848;
  margin-left: 10px;
}
.subtitlemoney{
  color: #ff9600;
}

.handleorder{
  position: absolute;
  right: 10px;
  top: 40px;
  font-size: 12px;
  color: #000;
  border: none;
  background-color: #FF9600;
  width: 80px;
  height: 40px;
}


.orderimg
{
  width: 120px;
  height: 90px;
  margin-left: 10px;
}
/*订单状态*/
.orderstatus{
  font-size: 12px;
  color: #bbb;
  background-color: #eee;
  padding: 5px; 
}
.oidspan{
  visibility:hidden;
   position:absolute
}
*{
  padding: 0px;
  margin:0px;
}

.orderdetails
{
  display: inline-block;
  vertical-align: top;
  /*margin-left: 10px;*/
  font-size: 12px;
  list-style: none;

  width: 250px;
  margin-left: 10px;
}
.orderdetails>li{
  display: inline-block;
  width: 100%;
}

.bikeinfoitemname{
   color: #bbb;
}
/*****************************end big 订单基本样式*/

/*********big*我是租客基本样式*****/
.iamrenter{
  margin-right: 5px;
  margin-top: -5px;
}
/********end*big*我是租客基本样式*****/

.tableitemname{
  color: #bbb;
  margin-left: 10px;
  line-height: 20px;
}
/*end 车主订单已经确认*/


/*big 我是租客，订单等待确认*/
.imrenterwaitconfirm{
  background-color: #ff9600;
  color: #fff;  
}
/*end big 我是租客，订单等待确认*/
/*big 我是租客，订单已确认*/
.imrenterconfirmed{
  background-color: #22ac38;
  color: #fff;
}
/*end big 我是租客，订单已确认*/
/*big 我是租客，订单已完成*/
.clear-rating.clear-rating-active{
  position: absolute;
}
.iamrentertoevaluate{
  /*width: 490px;*/
  margin-right: 90px;
}
/*end big 我是租客，订单已完成*/

/*big 我是车主，订单等待确认*/
.iamownertorefuse{
  margin-right: 90px;
}
/*end big 我是车主，订单等待确认*/

/*big 我是车主，订单等待确认*/
.imownertoconfirm{
  background-color: #ff9600;
  color: #fff;  
}
/*end big 我是车主，订单等待确认*/

/*big 我是车主，订单已确认*/
.imownerconfirmed{
  background-color: #22ac38;
  color: #fff;
}
/*end big 我是车主，订单已确认*/

/*big 我是车主，订单已完成*/
.renterorderreview{
  border-top:1px solid #eee;
  padding-left: 10px;
  position: relative;
  margin-top: 8px;
  padding-top: 5px;
  padding-bottom: 8px;
}
.renterfinishcomm{
  margin: 0px;
  color: #bbb;
  font-size: 12px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
.starcomdiv{
  display: inline-block;
  margin-left: 60px;
}
.reviewcontents{
  color: #484848;
  font-size: 12px;
}
.ownerorderreview{
  /*border:1px solid #eee;*/
  position: relative;
  background-color:#eee;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
}
.ownerfinishcomm{
  margin: 0px;
  color: #bbb;
  font-size: 12px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
/*end big 我是车主，订单已完成*/





.waitforconfirm
{
  font-size: 20px;
  color: red;
}
.orderconfirmed
{
  font-size: 12px;
  color: #fff;
  background-color: #FF9600;
  padding: 5px;
}
.orderfailed
{
  font-size: 20px;
  color: #DEDEDE;
}
.orderover
{
  font-size: 20px;
  color: green;
}


.money
{
  color: red;
}



#picupload
{
  height: 120px;
}

#progress
{
visibility: hidden;
padding: 0;
margin: 0;
width:120px;
height:20px;
border:1px solid black;
position: relative;
top: 0px;
}
#bar {
visibility: hidden;
border: 0;
padding: 0;
margin: 0;
width: 0%;
height:100%;
background:#FF9600;
}
 a:link{text-decoration:none;} 

 /*big footer*/
 #footerhr{
   border-top:1px solid #eee;
    width:1080px;
    margin:40px auto 0 auto;
 }
 #footer
 {
   margin: 0 auto;
   text-align: center;
   padding-top: 60px;
   margin-bottom: 60px;
 }
 #footer-1{
     /*width:33.2%;*/
     position:relative;/*让子div相对于父div绝对定位*/
     height:70px;
     /*width:340px;*/
     float:left;
 }
 .footermanual{
   width:50px;
   /*height:60px;*/
   display: inline-block;
   margin-right: 40px;
   /*border: 1px solid blue;*/
 }
 #ownermanualdiv{
   position: relative;
   float: right;
   margin-right: 60px;
   /*left: 50%;*/
   /*margin-left: -55px;*/
 }
 #rentermanualdiv{
   position: relative;
   float: right;
   /*left: 50%;      */
   /*margin-left: 5px;*/
 }
 .footermanualimg{
   width:50px;
   height:50px;
   margin-bottom: 10px;
 }
 .footermanuallink{
   height:10px;
   font-size:12px;
   color: #484848;
   text-decoration: none;
   /*margin-top: 20px;*/
 }
 a.footermanuallink:hover{
   color: #ff9600;
 }

 #footer-2{
     width:190px;
     position: relative;/**/
     float:left;
     height:70px;
     /*border: 1px solid blue;*/
 }
 .footer2fiv{
   width:60px;
   height:70px;
   display:inline-block;
 }
 .footer2fivfirst{
   margin-right: 30px;
 }
 .footer2fivthird{
   margin-left: 10px;
 }
 .footer2fivfourth{
   margin-left: 10px;
 }
 .footer2headlabel{
   display:inline-block;
   color:#484848;
   font-size:14px;
   font-weight:600;
   margin-top:0;
 }
 .footer2contentlink{
   display:inline-block;
   color:#484848;
   font-size:12px;
   margin-bottom: 5px;
   text-decoration: none;
 }
 .footer2fiv>a.footer2contentlink:hover{
   color: #ff9600;
 }

 #footer-3{
   height: 70px;
   display: inline-block;
   float:left;
   padding-left: 20px;
 }
 .footer3contactdiv{
   display:inline-block;
 }
 .footer3contactdivfirst{
   display:inline-block;
   margin-right: 30px;
   margin-left: 10px;
 }
 .footer3contactphone{
   margin-left: -30px;
   color:#484848;
   font-size:14px;
   font-weight:600;
 }
 .footer3contactemail{
   margin-left: -60px;
   color:#484848;
   font-size:14px;
   font-weight:600;

 }
 .footer3contactcontent{
   color:#484848;
   font-size:12px;
 }

 #footer-4{
   position: relative;
   display: inline-block;
   /*width: 340px;*/
   height: 70px;
   float: left;
 }
 #ScanImg{
   margin-left: 60px;
   float:left;
 }
 #ScanImgSmall{
   display: none;
 }
 /*end big footer*/


}
