<section class="features">
  <div class="container">
    <div class="row">
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-fire" aria-hidden="true"></i>6150
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-hashtag" aria-hidden="true"></i>Final Project
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-window-maximize" aria-hidden="true"></i>Team: BUPT
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-leaf" aria-hidden="true"></i>Go Huskies!
      </div>
    </div>
  </div>
</section>
<footer>

  <p>Made with <i class="fa fa-coffee" aria-hidden="true"></i> Bo Cao, Boxuan Lu, Tianyu Zhang, Wanxin Chen, YiXuan Li <i class="fa fa-music" aria-hidden="true"></i> by Team BUPT &copy; All rights reserved.</p>

  <p>Made with bupt : Cao Bo, Chen Wanxin, Lu Boxuan, Li Yixuan, Zhang Tianyu</p>

</footer>
